.navbar {
    place-items: center;
    height: 43px;
}

@media (max-width: 768px) {
    .navbar{
        height: auto;
    }
}

 .navbar-nav .nav-item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(110, 110, 110);
    transition: 0.5s ease;
    font-weight: lighter;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    margin: 10px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    letter-spacing: 2px;
}

ul li a.active {
    color: #3a8a58;
    text-decoration: none;
    border-image: linear-gradient(to right, #19994a,#19994a, #19994a,  #19994a, #aa3e3a, #aa3e3a, #aa3e3a) 10;
    border-top: 2px solid;
    display: table-cell;
    position: relative;
    justify-items: center;
    align-content: center;
    text-align: center;
    font-weight: lighter;
    padding: 9px 8px;
    text-shadow: 3px 3px 5px rgb(224, 224, 224);
    letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: hsl(143, 33%, 44%);
    transition: .1s ease;
    border-bottom: 2px solid green;
    font-weight: 200px;
}